:root {
    --blue-gray: #ecf0f1;
    --pale-blue: #2c3e50;
    --mid-gray: #999;
    --jean-blue: #3b5875;
    --light-blue: #95afc0;
    --sky-blue: #dff9fb;
    --dark-sky-blue: #c7ecee;
    --light-gray: #ccc;
}
html {
    box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}


*, *::before, *::after {
    box-sizing: inherit;
}

.loader-backdrop {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.loader2 > div {
    border: 5px solid var(--jean-blue); 
    width: 5rem;
    height: 5rem;
    border-top: 5px solid #f0eeeb;
    border-bottom: 5px solid #f0eeeb;
    border-radius: 50%;
    animation: spinner2 2s linear infinite;
}

@keyframes spinner2 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.footer-style{
    /* border: 2px solid red; */
    height: 3.3rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(248,249,250,1);

}